<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Create Task</title>
</head>
<body>
    <div class="container">
        <form action="/todo/create" method="post">
            <label for="nameTodo">Name</label><br>
            <input type="text" id="nameTodo" name="nameTodo"><br>
            <label for="descriptionTodo">Description</label><br>
            <input type="text" id="descriptionTodo" name="descriptionTodo"><br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>